{% extends 'base.html' %}

{% block main %}

{% if user.is_authenticated %}
<div class="pull-right">
  <i class="fa fa-sign-out"></i>
  <a href="{% url 'blog:logout' %}">Logout</a>
</div>
{% endif %}

<div class="admin-nav-bar">
  <ul class="nav nav-tabs">
    <li {% if blog_admin %} class="active" {% endif %}><a href="{% url 'blog:admin' %}">General</a></li>
    <li {% if post_admin %} class="active" {% endif %}><a href="{% url 'blog:post_admin' %}">Post</a></li>
    <li {% if tag_admin %} class="active" {% endif %}><a href="{% url 'blog:tag_admin' %}">Tag</a></li>
    <li {% if about_admin %} class="active" {% endif %}><a href="{% url 'blog:about_admin' %}">About</a></li>
  </ul>
</div>

<div class="row">
  {% block admin %}{% endblock %}
</div>

{% endblock %}
