{% extends 'base.html' %}

{% block main %}

<div class="admin-nav-bar">
  <ul class="nav nav-tabs">
    <li {% if post_management %} class="active" {% endif %}><a href="{% url 'blog:admin' %}">Post Management</a></li>
    <li {% if tag_management %} class="active" {% endif %}><a href="{% url 'blog:tag_admin' %}">Tag Management</a></li>
    <li {% if about %} class="active" {% endif %}><a href="#">About</a></li>
  </ul>
</div>

<div class="row">
  {% block admin %}{% endblock %}
</div>

{% endblock %}
