{% extends 'management/base.html' %}


{% load bootstrap3 %}
{% block admin %}

<div id="tag-list">

<form class="form-inline" action="{% url 'blog:tag_create' %}" method="post">
  <div class="form-group">
    {% csrf_token %}
    <input type="text" class="form-control" placeholder="Tag name" name="name">
    {% bootstrap_button content="Create a new tag" button_type="submit" button_class="btn btn-info" %}
  </div>
</form>

<h3>Tag list</h3>

<ul>
  {% for tag in object_list %}
    <li>
      {{ tag.name }}
      <a href="#" class="tag-edit" data-tag-id="{{ tag.id }}" data-tag-name="{{ tag.name }}" data-toggle="modal" data-target=".tag-update-modal">Edit</a>
      <a href="#" class="tag-remove" data-tag-id="{{ tag.id }}" data-tag-name="{{ tag.name }}" data-toggle="modal" data-target=".tag-remove-modal">Delete</a>
    </li>
  {% endfor %}
</ul>

</div>

<div class="modal tag-update-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <form method="post">
      <div class="modal-content">
        <div class="modal-body">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Tag name" name="name">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {% bootstrap_button content="Save" button_type="submit" button_class="btn btn-info tag-update-save" %}
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal tag-remove-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <form method="post">
       <div class="modal-content">
         <div class="modal-body">
           {% csrf_token %}
           <p></p>
         </div>

         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           {% bootstrap_button content="Confirm" button_type="submit" button_class="btn btn-info tag-remove-save" %}
         </div>

       </div>
    </form>
  </div>
</div>

<script>
$(document).ready(function(){
    $(".tag-edit").click(function(){
       tag_name = $(this).data("tag-name");
       tag_id = $(this).data("tag-id");
       $(".tag-update-modal input[name=name]").val(tag_name);
       $(".tag-update-modal form").prop("action", "/blog/tag/" + tag_id + "/update/");
    });

    $(".tag-remove").click(function(){
       tag_name = $(this).data("tag-name");
       tag_id = $(this).data("tag-id");
       $(".tag-remove-modal p").text("Are you sure you want to delete tag" + tag_name + "?");
       $(".tag-remove-modal form").prop("action", "/blog/tag/" + tag_id + "/delete/");
    });
});
</script>

{% endblock %}
