{% extends 'management/base.html' %}


{% load bootstrap3 %}
{% block admin %}

<div id="tag-list">


<h3>Tag list</h3>

{% url 'blog:tag_create' as tag_create_url %}
{% bootstrap_button content="Create a new post" href=tag_create_url button_class="btn btn-info" %}

<ul>
  {% for tag in object_list %}
    <li>
      {{ tag.name }}
      <a href="{% url 'blog:tag_edit' tag.id %}" class="tag-edit">Edit</a>
      <a href="{% url 'blog:tag_delete' tag.id %}" class="tag-remove">Delete</a>
    </li>
  {% endfor %}
</ul>

</div>

{% endblock %}
