

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->

<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load bootstrap3 %}
  {% load staticfiles %}
  {% bootstrap_css %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/code_highlight.css" rel="stylesheet">
  {% bootstrap_javascript %}
  <title>Yanlog</title>
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Yan Le's blog</a>
      </div>

      <ul class="nav navbar-nav navbar-right">

           <li>
             <a href="{% url 'blog:archives' %}">
               <i class="fa fa-archive"></i>
               <span>Archives</span>
             </a>
           </li>

         <li>
           <a href="/about/">
            <i class="fa fa-user"></i>
             <span>About</span>
           </a>
         </li>


      </ul>
    </div>
  </nav> <!--header-->

{% block main %}{% endblock %}

  <footer>
    <div class="container">
      <hr/>
      <div class="row">
        <div class="col-md-8">
          Copyright © 2015 - Yan Le
        </div>

        <div class="col-md-4">
          <p class="pull-right">
            Powered by <a href="https://github.com/janusle/yanlog">Yanlog</a>
            <i class="fa fa-hand-peace-o"></i>
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>


</html>
