[uwsgi]

chdir          = /srv/web/{{ app_name }}/code

module         = {{ app_name }}.wsgi

home           = /srv/web/{{ app_name }}/venv

master         = true

processes      = {{ process_number }}

socket         = /srv/web/{{ app_name }}/uwsgi/{{ app_name }}.sock

vacuum         = true
