{% extends 'base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block main %}


<div id="blog-nav">
<i class="fa fa-arrow-circle-left"></i>
<a href="{% url 'blog:admin' %}">Back to post management</a>
</div>

<div id="post-editor">
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_button content=action button_type="submit" button_class="btn btn-success" %}
  {% bootstrap_button content="delete" href=post.get_absolute_url|add:"delete/" button_class="btn btn-danger" %}
</form>
</div>

<script src="{% static 'js/epiceditor.min.js' %}"></script>
<script>
  var opts = {
    container: 'content_editor',
    textarea: 'id_content',
    basePath: '',
    theme: {
      base: '{% static "css/epiceditor/themes/base/epiceditor.css" %}',
      preview: '{% static "css/epiceditor/themes/preview/preview-dark.css" %}',
      editor: '{% static "css/epiceditor/themes/editor/epic-dark.css" %}'
    },
    clientSideStorage: false
  }
  var editor = new EpicEditor(opts).load();
</script>

{% endblock %}
