{% extends 'base.html' %}

{% block main %}


<div class="container">

  <div class="row">
    {% for post in object_list %}
    <article>
      <header class="page-header">
        <h1>{{ post.title }}</h1>
      </header>
      <div class="panel">
        <div class="panel-body">
          <span class="published_at">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <time>{{ post.created_at }}</time>
          </span>
          <a href="{{ post.get_absolute_url }}" >Edit</a>
        </div>
      </div> <!-- panel -->
  </article>

  {% endfor %}

</div>

</div>
{% endblock %}
