{% extends 'base.html' %}

{% block main %}

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Yan Le's blog</a>
    </div>
  </div>
</nav> <!--header-->


<div class="container">

  <div class="row">
    {% for post in object_list %}
    <article>
      <header class="page-header">
        <h1>{{ post.title }}</h1>
      </header>
      <div class="panel">
        <div class="panel-body">
          <span class="published_at">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <time>{{ post.created_at }}</time>
          </span>

          <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
          {% for tag in post.tags.all %}
          <span class="label label-info">{{ tag.name }}</span>
          {% endfor %}
          </span>
        </div>
      </div> <!-- panel -->

    <p>
      {{ post.content }}
    </p> <!-- content -->
  </article>

  {% endfor %}

</div>

</div>
{% endblock %}
